@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    LoadAPI load = new LoadAPI();
}

<div>
    <h1>D&D 5e Character Generator</h1>
    <p class="lead">Choose the type of person you want, and we'll give them to you!</p>
</div>

<!--Dropdowns allowing for user to customize the character genrator utilizing D&D 5e API-->
<div class="container-fluid bg-light py-3">
    <form method="POST">
        <div class="row">
            <div class="col-3 p-3">
                <p>Select the character's Name or wait and name them after they're generated:</p>
                <input id="nameText" type="text" name="selectName" />
            </div>

            <div class="col-3 p-3">
                <p>Select the character's Race:</p>
                <select id="SelectRace" name="SelectRace">
                    <option value="Random">Random</option>
                    @foreach (var race in load.LoadJObj("races")["results"])
                    {
                        <option value="@race["name"]">@race["name"]</option>
                    }
                </select>
            </div>

            <div class="col-3 p-3">
                <p>Select the character's class:</p>
                <select id="SelectClass" name="SelectClass">
                    <option value="Random">Random</option>
                    @foreach (var dndClass in load.LoadJObj("classes")["results"])
                    {
                        <option option value="@dndClass["name"]">@dndClass["name"]</option>
                    }
                </select>
            </div>

            <div class="col-3 p-3">
                <p>Select the character's subclass:</p>
                <select id="SelectSubClass" name="SelectSubclass">
                    <option value="Random">Random</option>
                    @foreach (var subClass in load.LoadJObj("subclasses")["results"])
                    {
                        <option value="@subClass["name"]">@subClass["name"]</option>
                    }
                </select>
            </div>

            <div class="col-3 p-3">
                <p>Select the Character's Level:</p>
                <select id="SelectLevel" name="SelectLevel">
                    <option value="0">Random</option>
                    @for (int i = 1; i <= 20; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>

            <div class="col-3 p-3">
                <p>Select the Character's background:</p>
                <select id="SelectBackG" name="SelectBackG">
                    <option value="Random">Random</option>
                    @foreach (var backG in load.LoadJObj("backgrounds")["results"])
                    {
                        <option value="@backG["name"]">@backG["name"]</option>
                    }
                </select>
            </div>

            <div class="col-3 p-3">
                <p>Select the Character's Alignment:</p>
                <select id="SelectAlignment" name="SelectAlignment">
                    <option value="Random">Random</option>
                    @foreach (var alignment in load.LoadJObj("alignments")["results"])
                    {
                        <option value="@alignment["name"]">@alignment["name"]</option>
                    }
                </select>
            </div>
        </div>

        <input type="submit" id="Submit" value="Create Character" />
    </form>
</div>

<div class="my-2" />

<div id="disqus_thread bg-dark"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://d-d-5e-character-generator.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!--<div class="sharethis-inline-share-buttons"></div>-->